.container {
    display: grid;
    grid-template-columns: repeat(2, 460px);
    margin: 280px auto;
    height: 540px;
    width: 920px;
}
.container .img-box {
    background-color: #f5f8fd;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 540px;
}
.img-box img{
    width: 290px;
    height: 340px;
}

.container .wrapper{
    height: 540px;
    padding-left: 12px;
    padding-right: 24px;
    justify-content: center;
}

.wrapper .wrapper-title {
    display: flex;
    align-items: center;
    width: 370px;
    height: 36px;
}

.wrapper .wrapper-title .wrapper-title-left {
    flex: 1 1 0;
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    letter-spacing: -1px;
}

.wrapper .wrapper-title .wrapper-title-right {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    border: none;
    cursor: pointer;
    padding: 4.8px 14px;
    border-radius: 40px;
    opacity: 0.8;
}

.wrapper .wrapper-title .wrapper-title-right:hover {
    background-color: rgb(59, 59, 59);
    color: rgb(239, 239, 239);
}

.wrapper.form-box {
    width: 460px;
    height: auto;
}

.form-box form {
    padding: 2% 5%;
    margin: 0 auto;
    width: 90%;
}

form .btn {
    background-color: rgba(116, 111, 107, 0.5);
    color: rgb(255, 255, 255);
    font-weight: 700;
    letter-spacing: -0.1px;
    text-align: center;
    border: none;
    border-radius: 40px;
    font-size: 22px;
    line-height: 47px;
    width: 100%;
    height: 58px;
    cursor: pointer;
}

form .btn:hover {
    background-color: #746f6b;
    color: rgb(255, 255, 255);
}

.social-box {
    width: 100%;
}

.social-box .with-sns {
    position: relative;
    width: 100%;
}

.with-sns .bar {
    top: 10px;
    display: block;
    position: absolute;
    width: 20.5%;
    border-bottom: 1px solid #a5a5a5;
}

.with-sns .bar-left {
    left: 0
}

.with-sns .bar-right {
    right: 0
}

.social-box .with-sns p {
    margin: 0 5px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    color: #a5a5a5;
}


.form-box .social-box {
    width: 95%;
}

.social-box .social-btn {
    width: 100%;
    margin: 0 auto;
}

.social-btn ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul li {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
}

ul li a {
    width: 100%;
    height: 100%;
}

a.socialaccount_provider {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li:nth-child(1) {
    background-color: #FEE500;
}

ul li:nth-child(1) a img {
    width: 80%;
    height: 50%;
}

ul li:nth-child(2) {
    background-color: rgb(243, 243, 243);
}

ul li:nth-child(2) a img {
    width: 70%;
    height: 70%;
}

ul li:nth-child(3) a img {
    width: 98%;
    height: 100%;
}
<<<<<<< HEAD

.error {
    width: 80%;
    height: 30px;
    margin: 10px auto;
=======
.alert-error {
    width: 80%;
    text-align: left;
    margin: 0 auto;
}
.alert-error strong{
    color: red;
    text-decoration-line: underline;
>>>>>>> a7cc9a5b41863820fa0deb8a30070982954babfc
}