body {
    margin: 150px 0;
    background-color: #f5f8fd;
}

#main {
    margin: auto;
    width: 700px;
}

#main #my-keyword {
    height: 400px;
}

#main #my-keyword #tag-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#main #my-keyword .tag {
    background-color: white;
    display:inline-block;
    vertical-align: middle;
    padding: 3px 7px;
    margin: 7px;
    border-radius: 10px 10px;
    box-shadow: 0 2px 2px 0 gray;
    cursor: pointer;
}

#main #my-like #like-box:nth-child(even) {
    background-color: #cfd3dc;
    display: flex;
    height: 150px;
    margin-top: 20px;
}

#main #my-like #like-box:nth-child(odd) {
    background-color: #a5b8d9;
    display: flex;
    height: 150px;
    margin-top: 20px;
}

#main #my-like #like-box img {
    width: 150px;
    height: 150px;
    cursor: pointer;
}

#main #my-like #like-box #like-contents {
    padding-left: 15px;
    width: 430px;
    height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px;
    max-height: 120px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    cursor: pointer;
    border-bottom: 1px #443d35;
}

#main #my-like #like-box #like-icon {
    display: flex;
    position: relative;
    width: 90px;
    top: 115px;
    justify-content: space-between;
}
