<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_12a6fc7faefe44b29d8c3f7bab754067 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_12a6fc7faefe44b29d8c3f7bab754067" ></div>
        
</body>
<script>    
    
            var map_12a6fc7faefe44b29d8c3f7bab754067 = L.map(
                "map_12a6fc7faefe44b29d8c3f7bab754067",
                {
                    center: [{{x_address}}, {{y_address}}],
                    crs: L.CRS.EPSG3857,
                    zoom: 15,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e3b16f27a36242a38df500ffd99348af = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_12a6fc7faefe44b29d8c3f7bab754067);
        
    
            var marker_63d22c36269e4d098d723aa01b4a3e1a = L.marker(
                [{{x_address}}, {{y_address}}],
                {}
            ).addTo(map_12a6fc7faefe44b29d8c3f7bab754067);
        
    
            var icon_a8618379fcac46a382c06082b7faeaf4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "star", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_63d22c36269e4d098d723aa01b4a3e1a.setIcon(icon_a8618379fcac46a382c06082b7faeaf4);
        
    
        var popup_496c69e611a04e7e90f6ec35e29e490a = L.popup({"maxWidth": "100%"});

        
            var html_33523b7dcd7c458f921e1da372f3b428 = $(`<div id="html_33523b7dcd7c458f921e1da372f3b428" style="width: 100.0%; height: 100.0%;">해운대</div>`)[0];
            popup_496c69e611a04e7e90f6ec35e29e490a.setContent(html_33523b7dcd7c458f921e1da372f3b428);
        

        marker_63d22c36269e4d098d723aa01b4a3e1a.bindPopup(popup_496c69e611a04e7e90f6ec35e29e490a)
        ;

        
    
</script>