<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>

    <link rel="stylesheet" href="/static/mypage/css/mypage.css">
    <script src="/static/mypage/js/mypage.js"></script>

</head>
<body>
<div id="main">
    <nav>

    </nav>
    <div id="my-keyword">
        <h2>나의 키워드</h2>
        <div id="tag-box">
            <div class="tag">
                #여행지
            </div>
            <div class="tag">
                #유럽일주
            </div>
            <div class="tag">
                #스페인+포르투갈
            </div>
            <div class="tag">
                #이탈리아
            </div>
            <div class="tag">
                #아이슬란드
            </div>
            <div class="tag">
                #대한민국
            </div>
            <div class="tag">
                #제주도
            </div>
            <div class="tag">
                #여행지
            </div>
            <div class="tag">
                #유럽일주
            </div>
            <div class="tag">
                #스페인+포르투갈
            </div>
            <div class="tag">
                #이탈리아
            </div>
            <div class="tag">
                #아이슬란드
            </div>
            <div class="tag">
                #대한민국
            </div>
            <div class="tag">
                #제주도
            </div>
        </div>


    </div>
    <div id="my-like">
        <h2>내가 찜한 여행지</h2>
        <div id="like-box">
            <div class="like">
                <img src="/static/mypage/image/eurp.jpg"/>
                <div class="like-contents">

                </div>
            </div>

        </div>


    </div>

</div>
</body>
</html>