{% load static %}

<!-- CSS -->
<link href="{% static 'css/header.css' %}" rel="stylesheet" type="text/css">
<!-- 파비콘 -->
<link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<!-- 폰트어썸 -->
<script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>


<div class="header_container">
    <div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
        <div class="snowflake"></div>
    </div>
    <div class="header_wrap">
        <div class="header_left">
            <img id='logo' src="{% static 'image/logo.png' %}" onclick="window.location.href='/'">
        </div>
        <div class="header_right">
            {% if not user.is_authenticated %}
                <div class="header_area">
                    <a href="/account/login" id="login">로그인</a>
                </div>
                <p> | </p>
                <div class="header_area">
                    <a href="/account/sign-up" id="register">회원가입</a>
                </div>
            {% else %}
                <div class="header_area">
                    <a href="/mypage" id="mypage">마이페이지</a>
                </div>
                <p> | </p>
                <div class="header_area">
                    <a href="/account/logout" id="logout">로그아웃</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
