{% load static %}
    <!-- CSS -->
    <link href="{% static 'css/side.css' %}" rel="stylesheet" type="text/css">
    <!-- 파비콘 -->
    <link rel="shortcut icon" href="{% static 'image/favicon.png' %}" type="image/x-icon">
    <!-- JQUERY -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <!-- 폰트어썸 -->
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>

<div class="show">
    <i class="fas fa-angle-right fa-3x" id="side_show"></i>
</div>
<div class="side_container">
    <div class="side_wrap">
        <i class="fas fa-angle-left fa-3x" id="side_hide"></i>
        <div class="side_area"><a href="#">category</a></div>
        <div class="side_area"><a href="#">category</a></div>
        <div class="side_area"><a href="#">category</a></div>
        <div class="side_area"><a href="#">category</a></div>
        <div class="side_area"><a href="#">category</a></div>
        <div class="side_area"><a href="#">category</a></div>
        <div class="side_area"><a href="#">category</a></div>


    </div>
</div>

<script src='{% static 'js/side.js' %}'></script>
