<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/category/css/category.css" type="text/css"/>
</head>
<body>
<div class="body-container">
    <div class="top-container">
        <img src="../../static/category/image/winter_img.jpg">
        <div class="tags-container">
            <div class="tag">#태그</div>
            <div class="tag">#태그</div>
            <div class="tag">#태그</div>
            <div class="tag">#태그</div>
            <div class="tag">#태그</div>
        </div>
        <h2>겨울 테마여행</h2>
        <p>모두가 사랑한 여행지, 이제는 자신만의 여행스타일로 고르자!</p>
    </div>
    <div class="bottom-container">
        <div class="theme01">
            <div class="inner">
                <img class="icon-img" src="../../static/category/image/tree-icon.png">
                <div class="title-box">
                    <h2>#풍경/힐링</h2>
                    <p>여행지의 자연, 역사, 마운틴뷰 등 당신을 위한심쿵 경치!</p>
                </div>
            </div>
            <article>
                {#          <a class="image"><img src="/templates/winter_img.jpeg" , alt="여행지 이미지"></a>#}
                <div class="caption">
                    <h3>여행지</h3>
                    <p>여행지 설명</p>
                    <ul class="actions fixed">
                        <li><span class="button small">둘러보기</span></li>
                    </ul>
                </div>
            </article>
        </div>
    </div>
</div>
</body>
</html>