.container {
    margin-top: 100px;
    width: 100vw;
    height: 100vh;
    display: grid;
    max-width: 1100px;
}

.containerA {
    font-size: 11px;
    width: 100%;
}

h1 {
    display: flex;
    justify-content: center;
}

.Acontent {
    display: flex;;
    justify-content: center;
    width: 100%;
}

.title-picture {
    height: 300px;
    width: 450px;
    overflow: hidden;
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 20px 0px 0px 20px;
}

.title-picture > img {
    width: 100%;
    height: 100%;
}


.title-picture.slidelist label {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}

.content {
    box-shadow: 5px 5px 5px 5px gray;
    background: lemonchiffon;
    width: 400px;
    height: 300px;
    border: 4px dotted black;
    border-radius: 0px 20px 20px 0px
}

#container {
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    background: #f5f8fd;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
    margin: 5em auto;
    height: 350px;
    width: 900px;

}


/* 	Product details  */
.product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 60%;

}

/* 	Product Name */
#container .product-details h1 {
    display: inline-block;
    position: relative;
    font-size: 34px;
    color: #344055;
    margin: 0;

}


/*Product Rating  */
.hint-star {
    display: inline-block;
    margin-left: 0.5em;
    color: gold;
    width: 50%;
}


/* The most important information about the product */
#container .product-details > p {
    font-size: 20px;
    color: #7d7d7d;
    margin: 13px;

}

/* control */

.control {
    position: absolute;
    bottom: 20%;
    left: 22.8%;

}

/* the Button */
.btn {
    transform: translateY(0px);
    transition: 0.3s linear;
    background: #49C608;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    border: none;
    color: #eee;
    padding: 0;
    margin: 0;
}

.btn:hover {
    transform: translateY(-4px);
}

.btn span {
    font-family: 'Farsan', cursive;
    transition: transform 0.3s;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0;

}

/* shopping cart icon */
.btn .price, .shopping-cart {
    background: #333;
    border: 0;
    margin: 0;
}

.btn .price {
    transform: translateX(-10%);
    padding-right: 15px;
}

/* the Icon */
.btn .shopping-cart {
    transform: translateX(-100%);
    position: absolute;
    background: #333;
    z-index: 1;
    left: 0;
    top: 0;
}

/* buy */
.btn .buy {
    z-index: 3;
    font-weight: bolder;
}

.btn:hover .price {
    transform: translateX(-110%);
}

.btn:hover .shopping-cart {
    transform: translateX(0%);
}


/* product image  */
.product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;
    width: 40%;
}

#container img {
    width: 100%;
    height: 100%;
}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {
    text-align: center
}

.product-image:hover .info {
    transform: translateX(0);
}

.info ul li {
    transition: 0.3s ease;
}

.info ul li:hover {
    transform: translateX(50px) scale(1.3);
}

.product-image:hover img {
    transition: all 0.3s ease-out;
}

.product-image:hover img {
    transform: scale(1.2, 1.2);
}

.containerB {
    justify-content: center;
    /*background: crimson;*/
    display: flex;
}

.map {

    display: grid;
    justify-content: center;
    margin: 20px;
    background: #746f6b;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
}

.maps {
    width: 900px;
    height: 420px
}

.map > p {
    color: #f5f8fd;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.MapTest {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.containerC {
    width: 100%;
    display: flex;
    justify-content: center;
    /*background: gold;*/
}

.weatherList {
    background-color: #746f6b;
    display: grid;
    border-radius: 20px;
    white-space: nowrap;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 900px;
    margin: 20px;
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
}

.weather_title {
    color: #f5f8fd;
    font-size: 30px;
    display: grid;
    text-align: left;
    margin: 15px;
}

.weathers {
    font-size: 13px;
    width: 150px;
    display: grid;
    justify-content: center;
    padding: 10px;

}

.weathers > p {
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.weatherImg {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;
}

.weatherImg > img {
    margin: 0%;
    padding: 0%;
    /*box-shadow: 4px 4px rgba(0, 0, 0, 0.25);*/
}

.containerD {
    width: 100%;
    display: flex;
    justify-content: center;
}
