.cardlist {
    width: 900px;
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
    overflow: auto;
}


/* #cont{
	display: grid;
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 20px;
	height: 450px;
	width: 400px;
    margin:20px;
	
}
.produc-image {
	transition: all 0.3s ease-out;
	height: 100%;
	width: 400px;
	display: inline-block;
    position: relative;
}

.produc-image img {
    width: 400px;
    height: 300px;

}

.produc-details {
	position: relative;
	width: 100%;
    text-align: center;
    background-color:#f5f8fd;
}
#cont .produc-details h1 {
    font-family: 'Old Standard TT', serif;
	display: inline-block;
	position: relative;
	font-size: 34px;
	color: #344055;
	margin: 10px;
	
}

#cont .produc-details > p {
	font-family: 'Farsan', cursive;
	text-align: center;
	font-size: 20px;
	color: #7d7d7d;
	width: 100%;
	
}

.produc-image:hover img {transition: all 0.3s ease-out;}
.produc-image:hover img {transform: scale(1.2, 1.2);} */

#cont{
	display: grid;
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 20px;
	margin: 30px;
	height: 450px;
	width: 320px;
	
}
.produc-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	height: 300px;
	width: 320px;
	display: inline-block;
    /* object-fit:cover; */
    overflow:hidden;
    border-radius: 20px 20px 0px 0px ;
}


.produc-image img {
    width: 320px;
    height: 300px;
    object-fit:cover;  
   border-radius: 20px 20px 0px 0px ;
}

/* 	Product details  */
.produc-details {
	position: relative;
	overflow: hidden;
	height: 100%;
	float: left;
	width: 100%;
    text-align: center;
}

/* 	Product Name */
#cont .produc-details h1{
    width: 300px;
	font-family: 'Old Standard TT', serif;
	display: inline-block;
	position: relative;
	font-size: 34px;
	color: #344055;
	margin: 10px;
	
}

#cont .produc-details > p {
    width: 300px;
	font-family: 'Farsan', cursive;
	text-align: center;
	font-size: 20px;
	color: #7d7d7d;
	width: 100%;
	
}

.produc-image:hover img {transition: all 0.3s ease-out;}
.produc-image:hover img {transform: scale(1.2, 1.2);}
